
<div class="grid">
	<a href="https://twitter.com/MarkRabey" class="[ grid__item  grid__item--lap-and-up-one-half  grid__item--desk-one-quarter ] social-link">
		<i class="fa  fa-twitter"></i>
	</a

	><a href="https://facebook.com/markrabey1983" class="[ grid__item  grid__item--lap-and-up-one-half  grid__item--desk-one-quarter ] social-link">
		<i class="fa  fa-facebook"></i>
	</a
	
	><a href="https://github.com/MarkRabey" class="[ grid__item  grid__item--lap-and-up-one-half  grid__item--desk-one-quarter ] social-link">
		<i class="fa  fa-github-alt"></i>
	</a
	
	><a href="mailto:hello@markrabey.com" class="[ grid__item  grid__item--lap-and-up-one-half  grid__item--desk-one-quarter ] social-link">
		<i class="fa  fa-envelope"></i>
	</a>
</div>

