/*------------------------------------*\
    #POST
\*------------------------------------*/

// .post {
// }

    .post__date {
    	display: block;
        color: $color-gray-dark;
        margin-bottom: $spacing-unit--small;
    }

    .post__title {
        margin-bottom: 0;

    }

	.post__img {
		padding: 6px;
		border: 1px solid $color-gray;
		margin-right: $spacing-unit;

		.page--home & {
			display: none;
		}
	}
		@each $direction in $directions {
			@each $breakpoint in $breakpoints {

                $alias:     nth($breakpoint, 1);
                $condition: nth($breakpoint, 2);
                @include media-query($alias) {
					.post__img--#{$alias}-#{$direction} {
						float: #{$direction};
					}
                }
			} // breakpoints
			
			.post__img--#{$direction} {
				float: #{$direction};
			}
		} //directions

		

//     .post__image {
//         // margin: 0 auto $spacing-unit;
//     }

//     .post__image--centered {
//         display: block;
//         margin: 0 auto $spacing-unit;
//     }