/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * A simple button object.
 */

$btn-padding:         halve($spacing-unit);
$btn-padding--small:  halve($btn-padding);
$btn-padding--large:  double($btn-padding);
$btn-background:      $color-btn;
$btn-color:           $color-white;
$btn-border-width:    2px;
$btn-border-style:    solid;
$btn-border-color:    $btn-background;
$btn-radius:          4px;

$enable-btn--small:   false;
$enable-btn--large:   false;
$enable-btn--full:    false;
$enable-btn--pill:    false;





// Here we set a variable assuming that `box-sizing: border-box;` is not set
// globally. If it has been previously been defined, the following variable will
// be overriden and will be set to `true`.
$global-border-box: false !default;





/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 */
.btn,
%btn {
    display: inline-block; /* [1] */
    vertical-align: middle; /* [2] */
    font: inherit; /* [3] */
    text-align: center; /* [4] */
    border: none; /* [4] */
    margin:  0; /* [4] */
    cursor: pointer; /* [5] */
    overflow: visible; /* [6] */
    padding: $btn-padding - $btn-border-width  double($btn-padding) - $btn-border-width; /* [7] */
    background-color: $btn-background;

    @if($btn-border-width != 0) {
        border: $btn-border-width $btn-border-style $btn-border-color;
    }

    @if($btn-radius != 0) {
        border-radius: $btn-radius;
    }

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none; /* [4] */
        color: $btn-color;
    }

}

/**
 * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
 */
.btn::-moz-focus-inner,
%btn::-moz-focus-inner {
    border:  0;
    padding: 0;
}


    /**
     * Small buttons.
     */

    .btn--small,
    %btn--small {
        padding: $btn-padding--small - $btn-border-width  double($btn-padding--small) - $btn-border-width; /* [7] */
    }


    /**
     * Large buttons.
     */

    .btn--large,
    %btn--large {
        padding: $btn-padding--large - $btn-border-width  double($btn-padding--large) - $btn-border-width; /* [7] */
    }


    /**
     * Full-width buttons.
     */

    .btn--full,
    %btn--full {
        width: 100%;

        @if $global-border-box == false {
            /**
             * Remove paddings so that widths and paddings don’t conflict.
             */
            padding-right: 0;
            padding-left:  0;
        }

    }





@if ($enable-btn--pill == true) {

    /**
     * Round-ended buttons.
     *
     * 1. Overly-large value to ensure the radius rounds the whole end of the
     *    button.
     */

    .btn--pill,
    %btn--pill {
        border-radius: 100px; /* [1] */
    }

}