/*------------------------------------*\
    #GRID
\*------------------------------------*/

$grid-gutter: 24px;
$grid-gutter--large: double($grid-gutter);

.grid,
%grid {
    list-style: none;
    margin:  0;
    padding: 0;
    margin-left: -$grid-gutter;
}

    .grid__item,
        %grid__item {
            display: inline-block; 
            padding-left: $grid-gutter; 
            vertical-align: top; 
            width: 100%; 
            // border: 1px solid #ccc;
        }

        @each $breakpoint in $breakpoints {

                $alias:     nth($breakpoint, 1);
                $condition: nth($breakpoint, 2);

                // This isn’t ideal, but we definitely don’t want to generate widths
                // for retina devices. Exclude retina media-qeuries manually.
                @if ($alias != retina) {
            
                    @include media-query($alias) {

                        /**
                         * Whole.
                         */
                        .grid__item--#{$alias}-one-whole          { width: 100% !important; }
                        
                        /**
                         * Halves.
                         */
                        .grid__item--#{$alias}-one-half,
                        .grid__item--#{$alias}-two-quarters,
                        .grid__item--#{$alias}-three-sixths,
                        .grid__item--#{$alias}-four-eighths,
                        .grid__item--#{$alias}-five-tenths,
                        .grid__item--#{$alias}-six-twelfths       { width: 50% !important; }
                        
                        /**
                         * Thirds.
                         */
                        .grid__item--#{$alias}-one-third,
                        .grid__item--#{$alias}-two-sixths,
                        .grid__item--#{$alias}-three-ninths,
                        .grid__item--#{$alias}-four-twelfths      { width: 33.3333333% !important; }
                        .grid__item--#{$alias}-two-thirds,
                        .grid__item--#{$alias}-four-sixths,
                        .grid__item--#{$alias}-six-ninths,
                        .grid__item--#{$alias}-eight-twelfths     { width: 66.6666666% !important; }
                        
                        /**
                         * Quarters.
                         */
                        .grid__item--#{$alias}-one-quarter,
                        .grid__item--#{$alias}-two-eighths,
                        .grid__item--#{$alias}-three-twelfths     { width: 25% !important; }
                        .grid__item--#{$alias}-three-quarters,
                        .grid__item--#{$alias}-six-eighths,
                        .grid__item--#{$alias}-nine-twelfths      { width: 75% !important; }
                        
                        /**
                         * Fifths.
                         */
                        .grid__item--#{$alias}-one-fifth,
                        .grid__item--#{$alias}-two-tenths         { width: 20% !important; }
                        .grid__item--#{$alias}-two-fifths,
                        .grid__item--#{$alias}-four-tenths        { width: 40% !important; }
                        .grid__item--#{$alias}-three-fifths,
                        .grid__item--#{$alias}-six-tenths         { width: 60% !important; }
                        .grid__item--#{$alias}-four-fifths,
                        .grid__item--#{$alias}-eight-tenths       { width: 80% !important; }
                        
                        /**
                         * Sixths.
                         */
                        .grid__item--#{$alias}-one-sixth,
                        .grid__item--#{$alias}-two-twelfths       { width: 16.6666666% !important; }
                        .grid__item--#{$alias}-five-sixths,
                        .grid__item--#{$alias}-ten-twelfths       { width: 83.3333333% !important; }
                        
                        /**
                         * Eighths.
                         */
                        .grid__item--#{$alias}-one-eighth         { width: 12.5% !important; }
                        .grid__item--#{$alias}-three-eighths      { width: 37.5% !important; }
                        .grid__item--#{$alias}-five-eighths       { width: 62.5% !important; }
                        .grid__item--#{$alias}-seven-eighths      { width: 87.5% !important; }
                        
                        /**
                         * Ninths.
                         */
                        .grid__item--#{$alias}-one-ninth          { width: 11.1111111% !important; }
                        .grid__item--#{$alias}-two-ninths         { width: 22.2222222% !important; }
                        .grid__item--#{$alias}-four-ninths        { width: 44.4444444% !important; }
                        .grid__item--#{$alias}-five-ninths        { width: 55.5555555% !important; }
                        .grid__item--#{$alias}-seven-ninths       { width: 77.7777777% !important; }
                        .grid__item--#{$alias}-eight-ninths       { width: 88.8888888% !important; }
                        
                        /**
                         * Tenths.
                         */
                        .grid__item--#{$alias}-one-tenth          { width: 10% !important; }
                        .grid__item--#{$alias}-three-tenths       { width: 30% !important; }
                        .grid__item--#{$alias}-seven-tenths       { width: 70% !important; }
                        .grid__item--#{$alias}-nine-tenths        { width: 90% !important; }
                        
                        /**
                         * Twelfths.
                         */
                        .grid__item--#{$alias}-one-twelfth        { width:  8.3333333% !important; }
                        .grid__item--#{$alias}-five-twelfths      { width: 41.6666666% !important; }
                        .grid__item--#{$alias}-seven-twelfths     { width: 58.3333333% !important; }
                        .grid__item--#{$alias}-eleven-twelfths    { width: 91.6666666% !important; }

                    } // Close media query.

                } // Close retina check.

            } // Close breakpoints loop.

/**
 * Grids with large gutters.
 */

.grid--large,
%grid--large {
    margin-left: -($grid-gutter--large);

    > .grid__item,
    > %grid__item {
        padding-left: $grid-gutter--large;
    }

}