/*------------------------------------*\
    #SPACING
\*------------------------------------*/

// - Internal Variables
$margin: $spacing-unit;
$padding: $spacing-unit;

.m       { margin:           $margin !important; }
.mt      { margin-top:       $margin !important; }
.mr      { margin-right:     $margin !important; }
.mb      { margin-bottom:    $margin !important; }
.ml      { margin-left:      $margin !important; }
.mh      { margin-right:     $margin !important; margin-left:      $margin !important; }
.mv      { margin-top:       $margin !important; margin-bottom:    $margin !important; }

/**
 * Add large margins.
 */

.m\+     { margin:           double($margin) !important; }
.mt\+    { margin-top:       double($margin) !important; }
.mr\+    { margin-right:     double($margin) !important; }
.mb\+    { margin-bottom:    double($margin) !important; }
.ml\+    { margin-left:      double($margin) !important; }
.mh\+    { margin-right:     double($margin) !important; margin-left:      double($margin) !important; }
.mv\+    { margin-top:       double($margin) !important; margin-bottom:    double($margin) !important; }



.p       { padding:          $padding !important; }
.pt      { padding-top:      $padding !important; }
.pr      { padding-right:    $padding !important; }
.pb      { padding-bottom:   $padding !important; }
.pl      { padding-left:     $padding !important; }
.ph      { padding-right:    $padding !important; padding-left:    $padding !important; }
.pv      { padding-top:      $padding !important; padding-bottom:  $padding !important; }